{{!-- NAV --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="logo" width="200">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><img src="images/xBtn.png" alt="triangle" width="15"> Home</a>
                </li>
                <li class="nav-item active">
                    <a href="/queue" class="nav-link"><img src="images/squareBtn.png" height="15"> Ready Up
                        <span class="sr-only">(current)</span></a>
                </li>
                {{!-- LOGIN / LOGOUT --}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><img src="images/circleBtn.png" alt="x" width="15"> Logout</a>
                </li>
                {{!-- CONTACT / INFO --}}
                <li class="nav-item">
                    <a href="/info" class="nav-link"><img src="images/triangleBtn.png" height="15"> Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{!-- USER SECTION --}}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-dark btn-block profileBar" id="editProfile-{{currentUser.id}}">
                <h1 id="profileBar-{{currentUser.id}}" class="customFont currentUserId {{currentUser.console}} {{currentUser.rl_rank}} {{currentUser.cod_rank}} {{currentUser.fortnite_rank}}"
                    data-id="{{currentUser.id}}">
                    <div class="container">
                        <div class="row">
                            <div class="col-2 consoleDisplay"></div>
                            <div class="col-2"></div>
                            <div class="col-4" id="profileName">{{currentUser.username}}</div>
                            <div class="col-1 rlIcon"></div>
                            <div class="col-2 codIcon"></div>
                            <div class="col-1 fortniteIcon"></div>
                        </div>
                    </div>
                </h1>
            </button>
            <p class="text-secondary mt-1">Tap the Profile Bar to edit your profile. Tap the X to leave all queues. <button class="btn btn-outline-danger btn-sm customFont rounded-circle" id="leaveQueues">X</button></p>
        </div>
    </div>
</div>

{{!-- GAME LANES --}}
<div class="container-fluid px-5">
    <div class="row mt-3 mb-5 d-flex justify-content-around">
        <div class="col-lg-4 rounded rlHeader text-center">
            <img src="images/rl_banner.png" width="300">
            <br>
            <button class="btn btn-outline-light customFont mb-3" id="enterRl">ENTER</button>
            <div id="rlSection" class="lane rocketLeague pt-3 bg-light mb-2">
                {{#each rlPlayers}}
                <button id="{{id}}" match="{{match}}"
                    class="btn btn-dark player fill border border-success
                            {{console}} {{rl_rank}} {{room}}">
                    <span class="consoleDisplay"></span>
                    <span class="px-4">{{username}}</span>
                    <span class="iconDisplay"></span>
                </button>
                {{/each}}
            </div>
        </div>
        <div class="col-lg-4 rounded codHeader text-center">
            <img src="images/MW.png" width="200" class="py-2">
            <br>
            <button class="btn btn-outline-light customFont mb-3" id="enterCod">ENTER</button>
            <div id="codSection" class="lane cod pt-3 bg-light mb-2">
                {{#each codPlayers}}
                <button id="{{id}}" match="{{match}}"
                    class="btn btn-dark player fill border border-success
                            {{console}} {{cod_rank}} {{room}}">
                    <span class="consoleDisplay"></span>
                    <span class="px-4">{{username}}</span>
                    <span class="iconDisplay"></span>
                </button>
                {{/each}}
            </div>
        </div>
        <div class="col-lg-4 rounded fortniteHeader text-center">
            <img src="images/fortnite_banner.png" width="250" class="py-4">
            <br>
            <button class="btn btn-outline-light customFont mb-3" id="enterFortnite">ENTER</button>
            <div id="fortniteSection" class="lane fortnite pt-3 bg-light mb-2">
                {{#each fortnitePlayers}}
                <button id="{{id}}" match="{{match}}" class="btn btn-dark player fill border border-success
                            {{console}} {{fortnite_rank}} {{room}}">
                    <span class="consoleDisplay"></span>
                    <span class="px-4">{{username}}</span>
                    <span class="iconDisplay"></span>
                </button>
                {{/each}}
            </div>
        </div>
    </div>

</div>


{{!-- MODALS --}}
<div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- <form class="px-4 py-3" method="POST" action="/editProfile"> --}}
                <form class="px-4 py-3">
                    <div class="form-group">
                        <label for="username">Gamer Tag</label>
                        <input type="text" class="form-control" name="username" placeholder="Unchanged"
                            id="editUsername">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="console">Console</label>
                            <select class="form-control" name="console" id="editConsole">
                                <option value="{{currentUser.console}}">Unchanged</option>
                                <option value="ps4">PS4</option>
                                <option value="xbox">XBOX</option>
                                <option value="pc">PC</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="rl_rank">Rocket League Rank</label>
                            <select class="form-control" id="rl_rank" name="rl_rank" id="rl_rank">
                                <option value="{{currentUser.rl_rank}}">Unchanged</option>
                                <option value="1">Bronze 1</option>
                                <option value="2">Bronze 2</option>
                                <option value="3">Bronze 3</option>
                                <option value="4">Silver 1</option>
                                <option value="5">Silver 2</option>
                                <option value="6">Silver 3</option>
                                <option value="7">Gold 1</option>
                                <option value="8">Gold 2</option>
                                <option value="9">Gold 3</option>
                                <option value="10">Plat 1</option>
                                <option value="11">Plat 2</option>
                                <option value="12">Plat 3</option>
                                <option value="13">Daimond 1</option>
                                <option value="14">Daimond 2</option>
                                <option value="15">Daimond 3</option>
                                <option value="16">Champ 1</option>
                                <option value="17">Champ 2</option>
                                <option value="18">Champ 3</option>
                                <option value="19">Grand Champ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="cod_rank">Call of Duty Skill Level</label>
                            <select class="form-control" id="cod_rank" name="cod_rank">
                                <option value="{{currentUser.cod_rank}}">Unchanged</option>
                                <option value="20">Novice</option>
                                <option value="21">Recruit</option>
                                <option value="22">Hardened</option>
                                <option value="23">Veteran</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="fortnite_rank">Fortnite League</label>
                            <select class="form-control" id="fortnite_rank" name="fortnite_rank">
                                <option value="{{currentUser.fortnite_rank}}">Unchanged</option>
                                <option value="24">Open 1</option>
                                <option value="25">Open 2</option>
                                <option value="26">Open 3</option>
                                <option value="27">Contender 1</option>
                                <option value="28">Contender 2</option>
                                <option value="29">Contender 3</option>
                                <option value="30">Champion</option>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success rounded-circle" id="editSubmit">
                    <i class="fas fa-check"></i>
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="matchContainer-{{currentUser.id}}">
<div class="modal" tabindex="-1" role="dialog" id="matchModal-{{currentUser.id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Match!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p><span id="matchNotification" class="text-success customFont"></span> is closest to your skill level.</p>
                <p>Find each other in game and party up!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>