<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="logo" width="200">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><img src="images/xBtn.png" alt="triangle" width="15"> Home</a>
                </li>
                <li class="nav-item active">
                    <a href="/queue" class="nav-link"><img src="images/squareBtn.png" height="15"> Ready Up
                        <span class="sr-only">(current)</span></a>
                </li>
                {{!-- LOGIN / LOGOUT --}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><img src="images/circleBtn.png" alt="x" width="15"> Logout</a>
                </li>
                {{!-- CONTACT / INFO --}}
                <li class="nav-item">
                    <a href="/info" class="nav-link"><img src="images/triangleBtn.png" height="15"> Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid px-5">
    <div class="row my-5 py-3">
        <div class="col-6">
            <div class="row">
                <div class="col-6 text-right">
                    <h3 class="customFont">YOU:</h3>
                </div>
                <div class="col-6">
                    <div class="lane waiting" style="height: 50px;" id="waitingSection">
                        <button draggable="true" match="{{currentUser.match}}"
                            class="btn btn-dark player fill border border-success
                        {{currentUser.console}} {{currentUser.room}}-{{currentUser.rl_rank}} {{currentUser.room}}-{{currentUser.cod_rank}} {{currentUser.room}}-{{currentUser.fortnite_rank}} {{currentUser.room}}">
                            <span class="px-4">{{currentUser.username}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <button class="btn btn-lg btn-success" id="editProfile">Edit Profile</button>
        </div>
    </div>


    <div class="row my-5 d-flex justify-content-around">
        <div class="col-lg-4 rounded rlHeader text-center">
            <img src="images/rl_banner.png" width="300">
            <div id="rlSection" class="lane rocketLeague pt-3 bg-light mb-2">
                {{#each rlPlayers}}
                <button class="btn btn-dark my-3 otherUser customFont
                        {{console}} {{room}}-{{rl_rank}} {{room}}" data-username="{{username}}">
                    <span class="px-4">{{username}}</span>
                </button>
                <br>
                {{/each}}
            </div>
        </div>
        <div class="col-lg-4 rounded codHeader text-center">
            <img src="images/MW.png" width="200" class="py-2">
            <div id="codSection" class="lane cod pt-3 bg-light mb-2">
                {{#each codPlayers}}
                <button class="btn btn-dark my-3 otherUser customFont
                        {{console}} {{room}}-{{cod_rank}} {{room}}" data-username="{{username}}">
                    <span class="px-4">{{username}}</span>
                </button>
                <br>
                {{/each}}
            </div>
        </div>
        <div class="col-lg-4 rounded fortniteHeader text-center">
            <img src="images/fortnite_banner.png" width="250" class="py-4">
            <div id="fortniteSection" class="lane fortnite pt-3 bg-light mb-2">
                {{#each fortnitePlayers}}
                <button class="btn btn-dark my-3 otherUser customFont
                        {{console}} {{room}}-{{fortnite_rank}} {{room}}" data-username="{{username}}">
                    <span class="px-4">{{username}}</span>
                </button>
                <br>
                {{/each}}
            </div>
        </div>
    </div>

</div>


{{!-- MODALS --}}
<div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="px-4 py-3" method="POST" action="/editProfile">
                    <div class="form-group">
                        <label for="username">Gamer Tag</label>
                        <input type="text" class="form-control" name="username" placeholder="Unchanged">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="console">Console</label>
                            <select class="form-control" name="console">
                                <option value="{{currentUser.console}}">Unchanged</option>
                                <option value="ps4">PS4</option>
                                <option value="xbox">XBOX</option>
                                <option value="pc">PC</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="rl_rank">Rocket League Rank</label>
                            <select class="form-control" id="rl_rank" name="rl_rank">
                                <option value="{{currentUser.rl_rank}}">Unchanged</option>
                                <option value="bronze1">Bronze 1</option>
                                <option value="bronze2">Bronze 2</option>
                                <option value="bronze3">Bronze 3</option>
                                <option value="silver1">Silver 1</option>
                                <option value="silver2">Silver 2</option>
                                <option value="silver3">Silver 3</option>
                                <option value="gold1">Gold 1</option>
                                <option value="gold2">Gold 2</option>
                                <option value="gold3">Gold 3</option>
                                <option value="plat1">Plat 1</option>
                                <option value="plat2">Plat 2</option>
                                <option value="plat3">Plat 3</option>
                                <option value="d1">Daimond 1</option>
                                <option value="d2">Daimond 2</option>
                                <option value="d3">Daimond 3</option>
                                <option value="champ1">Champ 1</option>
                                <option value="champ2">Champ 2</option>
                                <option value="champ3">Champ 3</option>
                                <option value="grand">Grand Champ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="cod_rank">Call of Duty Skill Level</label>
                            <select class="form-control" id="cod_rank" name="cod_rank">
                                <option value="{{currentUser.cod_rank}}">Unchanged</option>
                                <option value="novice">Novice</option>
                                <option value="recruit">Recruit</option>
                                <option value="hardened">Hardened</option>
                                <option value="veteran">Veteran</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="fortnite_rank">Fortnite League</label>
                            <select class="form-control" id="fortnite_rank" name="fortnite_rank">
                                <option value="{{currentUser.fortnite_rank}}">Unchanged</option>
                                <option value="open1">Open 1</option>
                                <option value="open2">Open 2</option>
                                <option value="open3">Open 3</option>
                                <option value="contender1">Contender 1</option>
                                <option value="contender2">Contender 2</option>
                                <option value="contender3">Contender 3</option>
                                <option value="champ">Champion</option>
                            </select>
                        </div>
                    </div>
                    <p class="text-secondary text-center">(On submit you will be taken out of all queues)</p>
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="editProfile" class="btn btn-outline-success rounded-circle">
                    <i class="fas fa-check"></i>
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="matchModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Match!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p><span id="matchNotification" class="text-success customFont"></span> is your skill level.</p>
        <p>Find each other in game and party up!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>